body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 100%;
}
#thead{
    background-color: rgb(62, 146, 177);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#tbody{
    background-color: rgb(62, 146, 177);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }